@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: MontserratMedium;
    src: url("../fonts/Montserrat-Medium.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: MontserratBold;
    src: url("../fonts/Montserrat-Bold.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: MontserratSemiBold;
    src: url("../fonts/Montserrat-SemiBold.ttf");
    font-style: normal;
    font-weight: normal;
}
.container{
    padding: 0;
}
.text_legend{
    font-family: MontserratSemiBold;
    font-style: normal;
    font-weight: normal;
}
.text_big{
    font-family: MontserratBold;
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
}
.text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
}
.text_btn{
    font-family: MontserratMedium;
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
}
.text_size-48{
    font-size: 48px;
}
.text_size-30{
    font-size: 30px;
}
.text_size-36{
    font-size: 36px;
}
.text_size-20{
    font-size: 20px;
}
.text_size-18{
    font-size: 18px;
}
.text_size-16{
    font-size: 16px;
}
.text_size-14{
    font-size: 14px;
}
.text_size-12{
    font-size: 12px;
}
.btn{
    width: 100%;
    border-radius: 5px;
    border: none;
    background: linear-gradient(180deg, #FF8F32 0%, #974400 100%);
}
.btn:hover{
    background: linear-gradient(180deg, #974400 0%, #FF8F32 100%);
    color:#FFFFFF;
}
.btn-shadow{
    width: 97%;
    padding-top: 5px;
    background: linear-gradient(180deg, #974400 0%, #C65C04 100%);
    border-radius: 0 0 5px 5px;
    margin: 0 auto;
    border: none;
}
.col{
    padding-right: 0;
    padding-left: 0;
}
.line{
    margin-left:10px;
}
.header-backdrop{
    background: #FBFBF9;
}
p{
    margin: 0px;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
.modal-content{
    width: auto;
}
.modal-body{
    padding: 0px;
}
.modal-dialog-centered{
    justify-content: center;
}
.btn-close{
    float: right;
}
.form{
    display: flex;
    background: #FFFFFF;
    width: 499px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
 .form>div{
    margin: 0 auto;
    width: 479px;
    border: 1px dashed #AEAEAE;
    border-radius: 10px;
    box-shadow: 0px 0px 23px 1px rgba(0, 0, 0, 0.09);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
}
 legend{
    margin-bottom: 30px;
}
 legend>div:nth-of-type(1){
    text-align: center;
}
 legend{
    line-height: 24px;
}
.form-group{
    margin-top: 15px;
    margin-bottom: 0;
}
/*.form-group input{
    line-height: 17px;
}*/
.form-check label{
    line-height: 15px;
}
 .form-check .form-check-input{
    width: 18px;
    height: 18px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    background-color: #FFFFFF;
}
 .form-check .form-check-input:checked {
    border: 1px solid #000000;
    background-image:url("/icons/check2.svg");
}
 .form-check .form-check-input:not(:checked):hover{
    border: 1px solid rgba(0, 0, 0, 1);
}
 .form-check .form-check-input:checked:focus {
    box-shadow: none; 
}
 .form-check .form-check-input:not(:checked):focus {
    box-shadow: none; 
}
 .form-check .form-check-input:not(:checked):active {  
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.25);  
}
 .form_butn{
    padding-top: 10px;
    width: 394px;
}
 .form_butn .text_btn{
    padding-top: 14px;
    padding-bottom: 14px;
}
.was-validated .form-check-input:valid:checked{
    background-color: #FFFFFF;
}
.was-validated .form-check-input:valid ~ .form-check-label{
    color: #000000;
}
.answer_content p{
    display: inline-block;
    vertical-align: middle;
    color: green;
}
.form .answer_content{
    position: relative;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}
.form .answer_content .btn-close{
    position: absolute;
    left: 92%;
    top: 8%;
}
/*/////////////////////////////////////////////////////////////////////*/
header .header{
    display: flex;
    align-items: center;
    justify-content:space-between;
}
header .info>div{
    display: inline-block;
    vertical-align: middle;
}
header .info>div>img{
    width: 43px;
}
header .info .text{
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px;
    margin-right: 10px;
}
header .text .text_size-16{
    color: #000000;
}
header .text a{
    color: #000000;
    text-decoration: none;
    line-height: 20px;
}
header .text a:hover{
    text-decoration: underline;
}
header .header_butn{
    width: 225px;
}
header .header_butn .text_btn{
    padding-top: 14px;
    padding-bottom: 14px;
    line-height: 22px;
}
/*/////////////////////////////////////////////////////////////////////*/
.nav-backdrop{
    background: #886344;
}
nav .menu{
    display: flex;
    align-items: center; 
}
nav .menu div{
    display: block;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
}
nav .menu div:hover{
    background: #a5958a;
}
nav .text a{
    color:#FFFFFF;
    text-decoration: none;
    line-height: 20px;
}
nav .d-flex{
    position: relative;
}
nav .d-flex input{
    width: 292px;
    border-radius: 30px;
    line-height: 17px;
    color: #5F5F5F;
    border: none;
    padding-top:14px;
    padding-bottom: 14px;
    padding-left: 20px;
    padding-right: 50px;
}
nav .d-flex .search{
    position: absolute;
    top: 30%;
    margin-left: 255px;
    z-index: 1;
}
nav .d-flex input:focus{
    box-shadow: none;
}
/*///////////////SECTION-1 MAIN/////////////////////////////*/
.section-1{
    background: url("/image/fone1.png") no-repeat center center;
    background-size: cover;
}
.section-1 .text_big{
    width: 472px;
    line-height: 59px;
}
.section-1 .text_big>.text{
    line-height: 32px;
}
.section-1 .container>div{
    display: flex;
    justify-content: space-between;
    padding-top: 112px;
    padding-bottom: 114px;
}
/*///////////////SECTION_ABOUT_COMPANY-1/////////////////////////////*/

/*/////////////////////////////////////////////////////////////////////*/
.section-2{
    background: url("/image/Frame\ 15.png") no-repeat center center;
    background-size: cover;
}
.section-2 .container{
    padding-top: 100px;
    padding-bottom: 100px;
}
.section-2 .container>div:nth-of-type(1) .text{
    line-height: 44px;
    display: inline-block;
}
.section-2 .container>div:nth-of-type(1) .text_big{
    line-height: 44px;
    color: #000000;
}
.section-2 .row{  
    margin-top: 20px;
    margin-left: 0px;  
    width: 100%;
}
.section-2 .row a{ 
    line-height: 24px;
    text-decoration: none;
    color: #FFFFFF;
}
.section-2 .row .col>.col{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    min-width: 360px;
    min-height:206px;
    text-align: center;
    
    transition:  transform 124ms linear;
}
.section-2 .row .col>.col:hover{
    
    transform: scale(1.05);
}
.section-2 .col>div{
    width: 234px;
}
.section-2 .img-4>div{
    width:279px;
}
.section-2 .img-6>div{
    width:300px;
}
.section-2 .img-1{
    background: url("/image/product1.png") no-repeat center ;
}
.section-2 .img-2{
    background: url("/image/product2.png") no-repeat center ;
}
.section-2 .img-3{
    background: url("/image/product3.png") no-repeat center ;
}
.section-2 .img-4{
    background: url("/image/product4.png") no-repeat center ;
   
}
.section-2 .img-5{
    background: url("/image/product5.png") no-repeat center ;
}
.section-2 .img-6{
    background: url("/image/product6.png") no-repeat center ;
}
.section-2 .img-7{
    background: url("/image/product7.png") no-repeat center ;
}
.section-2 .img-8{
    background: url("/image/product8.png") no-repeat center ;
}
.section-2 .img-9{
    background: url("/image/product9.png") no-repeat center ;
}
/*/////////////////////////////////////////////////////////////////////*/
.section-3{
    background: url("/image/fone2.png") no-repeat center center;
    background-size: cover;
}
.section-3 .container{
    padding-top: 80px;
    padding-bottom: 80px;
}
.section-3 .container>div:nth-of-type(1) .text{
    display: inline-block;
    line-height: 44px;
    color: #FFFFFF;
}

.section-3 .row{    
    width: 100%;
}
.section-3 .col{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
/*/////////////////////////////////////////////////////////////////////*/
.section-4{
    background: #FFFFFF;
}
.section-4 .container{
    padding-top: 100px;
    padding-bottom: 100px;
}
.section-4 .container>div:nth-of-type(1) .text{
    display: inline-block;
    line-height: 44px;
}
.section-4 .container>div:nth-of-type(1) .text_big{
    color: #000000;
}
.section-4 .slider{
    margin-top: 30px;
}
.swiper-slide {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper-pagination{
    position:relative;
    margin-top: 30px;
}

.swiper-pagination-bullet:first-of-type {
    margin-left: 0 !important;
}
.swiper-pagination-bullet {
    width: 17px;
    height: 17px;
    opacity: 1;
    background: #B7B0AA;
    margin-left: 15px !important;
}
.swiper-pagination-bullet-active {
    background: #FF8F32;
}
/*/////////////////////////////////////////////////////////////////////*/
.section-5{
    position: relative;
    background: #FFFFFF;
}
.section-5 iframe{
    width: 100%;
    height: 603px;
}
.section-5 .form{
    position: absolute;
    top: 20px;
    display: flex;
    background: #FFFFFF;
    box-shadow: -1px 4px 12px 3px rgba(0, 0, 0, 0.11);

    width: 499px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.section-5 .form>div{
    margin: 0 auto;
    width: 479px;
    border: 1px dashed #AEAEAE;
    border-radius: 10px;
    box-shadow: 0px 0px 23px 1px rgba(0, 0, 0, 0.09);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}
.section-5 .container>.form>div:nth-of-type(1)>div:nth-of-type(1) .text{
    display: inline-block;
    line-height: 44px;
}
.section-5 .container>.form>div:nth-of-type(1)>div:nth-of-type(1) p{
    margin: 0px;
}
.section-5 .info{
    margin-top: 25px;
}
.section-5 .info>div>img{
    width: 29px;
}
.section-5 .info>div{
    margin-top: 15px;
}
.section-5 .info .text{
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
    line-height: 20px;
}
.section-5 .info .text a{
    color: #000000;
    text-decoration: none;
    line-height: 20px;
}
.section-5 .info .text a:hover{
    text-decoration: underline;
}
.section-5 .container>.form>div:nth-of-type(1)>div:nth-of-type(3){
    margin-top: 20px;
    margin-bottom: 5px;
}
.section-5 .text_big{
    color: #000000;
}
.section-5 .container>.form>div:nth-of-type(1)>div:nth-of-type(4){
    display: flex;
    justify-content: space-between;
    width: 340px;
    text-decoration-line: underline;
}
.section-5 .city>div{
    margin-top: 15px;
}
/*/////////////////////////////////////////////////////////////////////*/
footer{
    border-bottom: 1px solid #AEAEAE;
}
footer .menu{
    display: flex;
    align-items: center; 
}
footer .menu div{
    display: block;
    padding-left: 30px;
    padding-top: 47px;
    padding-bottom: 47px;
}
footer .menu div:nth-of-type(6){
    padding-right: 0px;
}
footer .text{
    line-height: 20px;
}
footer .text a{
    text-decoration: none;
    color: #886344;
}
footer .text a:hover{
    text-decoration: underline;
}
/*/////////////////////////////////////////////////////////////////////*/
.copyright{
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 15px;
    color: #5F5F5F;
    text-align: center;
}
@media (min-width: 1400px){
    .container {
        max-width: 1140px;
    }
}